<?xml version="1.0"?>
<robot name="abb_barrett" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find abb_barrett_support)/urdf/abb_barrett_macro_robot.xacro"/>
<xacro:macro name="abb_barrett_g" params="prefix">

  <!-- get base ABB IRB120 model -->
  <xacro:abb_barrett prefix="${prefix}" />
  
  <!-- transmission list -->
  <transmission name="${prefix}tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_1">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor1">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_2">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor2">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_3">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor3">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_4">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor4">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_5">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor5">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_6">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor6">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}camera_frame_joint">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor7">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!-- end of transmission list -->

  <!-- Gazebo-specific link properties -->
  <gazebo reference="${prefix}base_link">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_1">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_2">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>  
  <gazebo reference="${prefix}link_3">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_4">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_5">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_6">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}camera_frame_joint">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>

  <gazebo reference="${prefix}FT_sensor_link">
    <material>Gazebo/Black</material>
    <mu1 value= "0.3" />
    <mu2 value= "0.3" />
    <kp value="1000000.0" />
    <kd value="1.0" />
    <minDepth value = "1.0"/>
  </gazebo>


  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_link_robot</robotBaseFrame>
    </plugin>
  </gazebo>  

 </xacro:macro>
</robot>
